parameters:
    level: 7
    phpVersion: 80100

    parallel:
        maximumNumberOfProcesses: 8
        processTimeout: 300.0

    paths:
        - DependencyInjection
        - Services

    tmpDir: var/phpstan
